<mat-toolbar color="primary">
  <span>{{dialogBaslik}}</span>
</mat-toolbar>
<div class="container">
  <form [formGroup]="frm">
    <mat-form-field appearance="outline">
      <mat-label>Ürün Adı</mat-label>
      <input matInput placeholder="Ürün Adı" formControlName="urunAdı" name="urunAdı" required type="text">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ürün Fiyatı</mat-label>
      <input matInput placeholder="Ürün Fiyatı" formControlName="urunFiyatı" name="urunFiyatı" required type="text">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ürün Kategori Adı</mat-label>
      <input matInput placeholder="Ürün Katadı" formControlName="urunKatAdı" name="urunKatAdı" required
        type="number">
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary" (click)="dialogRef.close(frm.value)"
    [disabled]="frm.invalid">Kaydet</button>&nbsp;
  <button mat-raised-button color="warn" (click)="dialogRef.close()">İptal</button>
</div>